<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ra_ga-ethiopic.liga</key>
    <string>ra_ga-ethiopic.liga.glif</string>
    <key>ra_gaa-ethiopic.liga</key>
    <string>ra_gaa-ethiopic.liga.glif</string>
    <key>ra_ge-ethiopic.liga</key>
    <string>ra_ge-ethiopic.liga.glif</string>
    <key>ra_gee-ethiopic.liga</key>
    <string>ra_gee-ethiopic.liga.glif</string>
    <key>ra_gga-ethiopic.liga</key>
    <string>ra_gga-ethiopic.liga.glif</string>
    <key>ra_ggaa-ethiopic.liga</key>
    <string>ra_ggaa-ethiopic.liga.glif</string>
    <key>ra_gge-ethiopic.liga</key>
    <string>ra_gge-ethiopic.liga.glif</string>
    <key>ra_ggee-ethiopic.liga</key>
    <string>ra_ggee-ethiopic.liga.glif</string>
    <key>ra_ggi-ethiopic.liga</key>
    <string>ra_ggi-ethiopic.liga.glif</string>
    <key>ra_ggo-ethiopic.liga</key>
    <string>ra_ggo-ethiopic.liga.glif</string>
    <key>ra_ggu-ethiopic.liga</key>
    <string>ra_ggu-ethiopic.liga.glif</string>
    <key>ra_ggwaa-ethiopic.liga</key>
    <string>ra_ggwaa-ethiopic.liga.glif</string>
    <key>ra_gi-ethiopic.liga</key>
    <string>ra_gi-ethiopic.liga.glif</string>
    <key>ra_go-ethiopic.liga</key>
    <string>ra_go-ethiopic.liga.glif</string>
    <key>ra_gu-ethiopic.liga</key>
    <string>ra_gu-ethiopic.liga.glif</string>
    <key>ra_gwaa-ethiopic.liga</key>
    <string>ra_gwaa-ethiopic.liga.glif</string>
    <key>ra_na-ethiopic.liga</key>
    <string>ra_na-ethiopic.liga.glif</string>
    <key>ra_ne-ethiopic.liga</key>
    <string>ra_ne-ethiopic.liga.glif</string>
    <key>ra_nee-ethiopic.liga</key>
    <string>ra_nee-ethiopic.liga.glif</string>
    <key>ra_ni-ethiopic.liga</key>
    <string>ra_ni-ethiopic.liga.glif</string>
    <key>ra_nu-ethiopic.liga</key>
    <string>ra_nu-ethiopic.liga.glif</string>
    <key>ra_nya-ethiopic.liga</key>
    <string>ra_nya-ethiopic.liga.glif</string>
    <key>ra_nyee-ethiopic.liga</key>
    <string>ra_nyee-ethiopic.liga.glif</string>
    <key>ra_nyi-ethiopic.liga</key>
    <string>ra_nyi-ethiopic.liga.glif</string>
    <key>ra_nyu-ethiopic.liga</key>
    <string>ra_nyu-ethiopic.liga.glif</string>
    <key>ra_xa-ethiopic.liga</key>
    <string>ra_xa-ethiopic.liga.glif</string>
    <key>ra_xe-ethiopic.liga</key>
    <string>ra_xe-ethiopic.liga.glif</string>
    <key>ra_xee-ethiopic.liga</key>
    <string>ra_xee-ethiopic.liga.glif</string>
    <key>ra_xi-ethiopic.liga</key>
    <string>ra_xi-ethiopic.liga.glif</string>
    <key>ra_xu-ethiopic.liga</key>
    <string>ra_xu-ethiopic.liga.glif</string>
    <key>ra_xwaa-ethiopic.liga</key>
    <string>ra_xwaa-ethiopic.liga.glif</string>
    <key>raa_ga-ethiopic.liga</key>
    <string>raa_ga-ethiopic.liga.glif</string>
    <key>raa_gaa-ethiopic.liga</key>
    <string>raa_gaa-ethiopic.liga.glif</string>
    <key>raa_ge-ethiopic.liga</key>
    <string>raa_ge-ethiopic.liga.glif</string>
    <key>raa_gee-ethiopic.liga</key>
    <string>raa_gee-ethiopic.liga.glif</string>
    <key>raa_gga-ethiopic.liga</key>
    <string>raa_gga-ethiopic.liga.glif</string>
    <key>raa_ggaa-ethiopic.liga</key>
    <string>raa_ggaa-ethiopic.liga.glif</string>
    <key>raa_gge-ethiopic.liga</key>
    <string>raa_gge-ethiopic.liga.glif</string>
    <key>raa_ggee-ethiopic.liga</key>
    <string>raa_ggee-ethiopic.liga.glif</string>
    <key>raa_ggi-ethiopic.liga</key>
    <string>raa_ggi-ethiopic.liga.glif</string>
    <key>raa_ggo-ethiopic.liga</key>
    <string>raa_ggo-ethiopic.liga.glif</string>
    <key>raa_ggu-ethiopic.liga</key>
    <string>raa_ggu-ethiopic.liga.glif</string>
    <key>raa_ggwaa-ethiopic.liga</key>
    <string>raa_ggwaa-ethiopic.liga.glif</string>
    <key>raa_gi-ethiopic.liga</key>
    <string>raa_gi-ethiopic.liga.glif</string>
    <key>raa_go-ethiopic.liga</key>
    <string>raa_go-ethiopic.liga.glif</string>
    <key>raa_gu-ethiopic.liga</key>
    <string>raa_gu-ethiopic.liga.glif</string>
    <key>raa_gwaa-ethiopic.liga</key>
    <string>raa_gwaa-ethiopic.liga.glif</string>
    <key>raa_na-ethiopic.liga</key>
    <string>raa_na-ethiopic.liga.glif</string>
    <key>raa_ne-ethiopic.liga</key>
    <string>raa_ne-ethiopic.liga.glif</string>
    <key>raa_nee-ethiopic.liga</key>
    <string>raa_nee-ethiopic.liga.glif</string>
    <key>raa_ni-ethiopic.liga</key>
    <string>raa_ni-ethiopic.liga.glif</string>
    <key>raa_nu-ethiopic.liga</key>
    <string>raa_nu-ethiopic.liga.glif</string>
    <key>raa_nya-ethiopic.liga</key>
    <string>raa_nya-ethiopic.liga.glif</string>
    <key>raa_nyee-ethiopic.liga</key>
    <string>raa_nyee-ethiopic.liga.glif</string>
    <key>raa_nyi-ethiopic.liga</key>
    <string>raa_nyi-ethiopic.liga.glif</string>
    <key>raa_nyu-ethiopic.liga</key>
    <string>raa_nyu-ethiopic.liga.glif</string>
    <key>raa_xa-ethiopic.liga</key>
    <string>raa_xa-ethiopic.liga.glif</string>
    <key>raa_xe-ethiopic.liga</key>
    <string>raa_xe-ethiopic.liga.glif</string>
    <key>raa_xee-ethiopic.liga</key>
    <string>raa_xee-ethiopic.liga.glif</string>
    <key>raa_xi-ethiopic.liga</key>
    <string>raa_xi-ethiopic.liga.glif</string>
    <key>raa_xu-ethiopic.liga</key>
    <string>raa_xu-ethiopic.liga.glif</string>
    <key>raa_xwaa-ethiopic.liga</key>
    <string>raa_xwaa-ethiopic.liga.glif</string>
    <key>ree_ga-ethiopic.liga</key>
    <string>ree_ga-ethiopic.liga.glif</string>
    <key>ree_gaa-ethiopic.liga</key>
    <string>ree_gaa-ethiopic.liga.glif</string>
    <key>ree_ge-ethiopic.liga</key>
    <string>ree_ge-ethiopic.liga.glif</string>
    <key>ree_gee-ethiopic.liga</key>
    <string>ree_gee-ethiopic.liga.glif</string>
    <key>ree_gga-ethiopic.liga</key>
    <string>ree_gga-ethiopic.liga.glif</string>
    <key>ree_ggaa-ethiopic.liga</key>
    <string>ree_ggaa-ethiopic.liga.glif</string>
    <key>ree_gge-ethiopic.liga</key>
    <string>ree_gge-ethiopic.liga.glif</string>
    <key>ree_ggee-ethiopic.liga</key>
    <string>ree_ggee-ethiopic.liga.glif</string>
    <key>ree_ggi-ethiopic.liga</key>
    <string>ree_ggi-ethiopic.liga.glif</string>
    <key>ree_ggo-ethiopic.liga</key>
    <string>ree_ggo-ethiopic.liga.glif</string>
    <key>ree_ggu-ethiopic.liga</key>
    <string>ree_ggu-ethiopic.liga.glif</string>
    <key>ree_ggwaa-ethiopic.liga</key>
    <string>ree_ggwaa-ethiopic.liga.glif</string>
    <key>ree_gi-ethiopic.liga</key>
    <string>ree_gi-ethiopic.liga.glif</string>
    <key>ree_go-ethiopic.liga</key>
    <string>ree_go-ethiopic.liga.glif</string>
    <key>ree_gu-ethiopic.liga</key>
    <string>ree_gu-ethiopic.liga.glif</string>
    <key>ree_gwaa-ethiopic.liga</key>
    <string>ree_gwaa-ethiopic.liga.glif</string>
    <key>ree_na-ethiopic.liga</key>
    <string>ree_na-ethiopic.liga.glif</string>
    <key>ree_ne-ethiopic.liga</key>
    <string>ree_ne-ethiopic.liga.glif</string>
    <key>ree_nee-ethiopic.liga</key>
    <string>ree_nee-ethiopic.liga.glif</string>
    <key>ree_ni-ethiopic.liga</key>
    <string>ree_ni-ethiopic.liga.glif</string>
    <key>ree_nu-ethiopic.liga</key>
    <string>ree_nu-ethiopic.liga.glif</string>
    <key>ree_nya-ethiopic.liga</key>
    <string>ree_nya-ethiopic.liga.glif</string>
    <key>ree_nyee-ethiopic.liga</key>
    <string>ree_nyee-ethiopic.liga.glif</string>
    <key>ree_nyi-ethiopic.liga</key>
    <string>ree_nyi-ethiopic.liga.glif</string>
    <key>ree_nyu-ethiopic.liga</key>
    <string>ree_nyu-ethiopic.liga.glif</string>
    <key>ree_xa-ethiopic.liga</key>
    <string>ree_xa-ethiopic.liga.glif</string>
    <key>ree_xe-ethiopic.liga</key>
    <string>ree_xe-ethiopic.liga.glif</string>
    <key>ree_xee-ethiopic.liga</key>
    <string>ree_xee-ethiopic.liga.glif</string>
    <key>ree_xi-ethiopic.liga</key>
    <string>ree_xi-ethiopic.liga.glif</string>
    <key>ree_xu-ethiopic.liga</key>
    <string>ree_xu-ethiopic.liga.glif</string>
    <key>ree_xwaa-ethiopic.liga</key>
    <string>ree_xwaa-ethiopic.liga.glif</string>
    <key>ri_ga-ethiopic.liga</key>
    <string>ri_ga-ethiopic.liga.glif</string>
    <key>ri_gaa-ethiopic.liga</key>
    <string>ri_gaa-ethiopic.liga.glif</string>
    <key>ri_ge-ethiopic.liga</key>
    <string>ri_ge-ethiopic.liga.glif</string>
    <key>ri_gee-ethiopic.liga</key>
    <string>ri_gee-ethiopic.liga.glif</string>
    <key>ri_gga-ethiopic.liga</key>
    <string>ri_gga-ethiopic.liga.glif</string>
    <key>ri_ggaa-ethiopic.liga</key>
    <string>ri_ggaa-ethiopic.liga.glif</string>
    <key>ri_gge-ethiopic.liga</key>
    <string>ri_gge-ethiopic.liga.glif</string>
    <key>ri_ggee-ethiopic.liga</key>
    <string>ri_ggee-ethiopic.liga.glif</string>
    <key>ri_ggi-ethiopic.liga</key>
    <string>ri_ggi-ethiopic.liga.glif</string>
    <key>ri_ggo-ethiopic.liga</key>
    <string>ri_ggo-ethiopic.liga.glif</string>
    <key>ri_ggu-ethiopic.liga</key>
    <string>ri_ggu-ethiopic.liga.glif</string>
    <key>ri_ggwaa-ethiopic.liga</key>
    <string>ri_ggwaa-ethiopic.liga.glif</string>
    <key>ri_gi-ethiopic.liga</key>
    <string>ri_gi-ethiopic.liga.glif</string>
    <key>ri_go-ethiopic.liga</key>
    <string>ri_go-ethiopic.liga.glif</string>
    <key>ri_gu-ethiopic.liga</key>
    <string>ri_gu-ethiopic.liga.glif</string>
    <key>ri_gwaa-ethiopic.liga</key>
    <string>ri_gwaa-ethiopic.liga.glif</string>
    <key>ri_na-ethiopic.liga</key>
    <string>ri_na-ethiopic.liga.glif</string>
    <key>ri_ne-ethiopic.liga</key>
    <string>ri_ne-ethiopic.liga.glif</string>
    <key>ri_nee-ethiopic.liga</key>
    <string>ri_nee-ethiopic.liga.glif</string>
    <key>ri_ni-ethiopic.liga</key>
    <string>ri_ni-ethiopic.liga.glif</string>
    <key>ri_nu-ethiopic.liga</key>
    <string>ri_nu-ethiopic.liga.glif</string>
    <key>ri_nya-ethiopic.liga</key>
    <string>ri_nya-ethiopic.liga.glif</string>
    <key>ri_nyee-ethiopic.liga</key>
    <string>ri_nyee-ethiopic.liga.glif</string>
    <key>ri_nyi-ethiopic.liga</key>
    <string>ri_nyi-ethiopic.liga.glif</string>
    <key>ri_nyu-ethiopic.liga</key>
    <string>ri_nyu-ethiopic.liga.glif</string>
    <key>ri_xa-ethiopic.liga</key>
    <string>ri_xa-ethiopic.liga.glif</string>
    <key>ri_xe-ethiopic.liga</key>
    <string>ri_xe-ethiopic.liga.glif</string>
    <key>ri_xee-ethiopic.liga</key>
    <string>ri_xee-ethiopic.liga.glif</string>
    <key>ri_xi-ethiopic.liga</key>
    <string>ri_xi-ethiopic.liga.glif</string>
    <key>ri_xu-ethiopic.liga</key>
    <string>ri_xu-ethiopic.liga.glif</string>
    <key>ri_xwaa-ethiopic.liga</key>
    <string>ri_xwaa-ethiopic.liga.glif</string>
    <key>ru_ga-ethiopic.liga</key>
    <string>ru_ga-ethiopic.liga.glif</string>
    <key>ru_gaa-ethiopic.liga</key>
    <string>ru_gaa-ethiopic.liga.glif</string>
    <key>ru_ge-ethiopic.liga</key>
    <string>ru_ge-ethiopic.liga.glif</string>
    <key>ru_gee-ethiopic.liga</key>
    <string>ru_gee-ethiopic.liga.glif</string>
    <key>ru_gga-ethiopic.liga</key>
    <string>ru_gga-ethiopic.liga.glif</string>
    <key>ru_ggaa-ethiopic.liga</key>
    <string>ru_ggaa-ethiopic.liga.glif</string>
    <key>ru_gge-ethiopic.liga</key>
    <string>ru_gge-ethiopic.liga.glif</string>
    <key>ru_ggee-ethiopic.liga</key>
    <string>ru_ggee-ethiopic.liga.glif</string>
    <key>ru_ggi-ethiopic.liga</key>
    <string>ru_ggi-ethiopic.liga.glif</string>
    <key>ru_ggo-ethiopic.liga</key>
    <string>ru_ggo-ethiopic.liga.glif</string>
    <key>ru_ggu-ethiopic.liga</key>
    <string>ru_ggu-ethiopic.liga.glif</string>
    <key>ru_ggwaa-ethiopic.liga</key>
    <string>ru_ggwaa-ethiopic.liga.glif</string>
    <key>ru_gi-ethiopic.liga</key>
    <string>ru_gi-ethiopic.liga.glif</string>
    <key>ru_go-ethiopic.liga</key>
    <string>ru_go-ethiopic.liga.glif</string>
    <key>ru_gu-ethiopic.liga</key>
    <string>ru_gu-ethiopic.liga.glif</string>
    <key>ru_gwaa-ethiopic.liga</key>
    <string>ru_gwaa-ethiopic.liga.glif</string>
    <key>ru_na-ethiopic.liga</key>
    <string>ru_na-ethiopic.liga.glif</string>
    <key>ru_ne-ethiopic.liga</key>
    <string>ru_ne-ethiopic.liga.glif</string>
    <key>ru_nee-ethiopic.liga</key>
    <string>ru_nee-ethiopic.liga.glif</string>
    <key>ru_ni-ethiopic.liga</key>
    <string>ru_ni-ethiopic.liga.glif</string>
    <key>ru_nu-ethiopic.liga</key>
    <string>ru_nu-ethiopic.liga.glif</string>
    <key>ru_nya-ethiopic.liga</key>
    <string>ru_nya-ethiopic.liga.glif</string>
    <key>ru_nyee-ethiopic.liga</key>
    <string>ru_nyee-ethiopic.liga.glif</string>
    <key>ru_nyi-ethiopic.liga</key>
    <string>ru_nyi-ethiopic.liga.glif</string>
    <key>ru_nyu-ethiopic.liga</key>
    <string>ru_nyu-ethiopic.liga.glif</string>
    <key>ru_xa-ethiopic.liga</key>
    <string>ru_xa-ethiopic.liga.glif</string>
    <key>ru_xe-ethiopic.liga</key>
    <string>ru_xe-ethiopic.liga.glif</string>
    <key>ru_xee-ethiopic.liga</key>
    <string>ru_xee-ethiopic.liga.glif</string>
    <key>ru_xi-ethiopic.liga</key>
    <string>ru_xi-ethiopic.liga.glif</string>
    <key>ru_xu-ethiopic.liga</key>
    <string>ru_xu-ethiopic.liga.glif</string>
    <key>ru_xwaa-ethiopic.liga</key>
    <string>ru_xwaa-ethiopic.liga.glif</string>
    <key>rwa_ga-ethiopic.liga</key>
    <string>rwa_ga-ethiopic.liga.glif</string>
    <key>rwa_gaa-ethiopic.liga</key>
    <string>rwa_gaa-ethiopic.liga.glif</string>
    <key>rwa_ge-ethiopic.liga</key>
    <string>rwa_ge-ethiopic.liga.glif</string>
    <key>rwa_gee-ethiopic.liga</key>
    <string>rwa_gee-ethiopic.liga.glif</string>
    <key>rwa_gga-ethiopic.liga</key>
    <string>rwa_gga-ethiopic.liga.glif</string>
    <key>rwa_ggaa-ethiopic.liga</key>
    <string>rwa_ggaa-ethiopic.liga.glif</string>
    <key>rwa_gge-ethiopic.liga</key>
    <string>rwa_gge-ethiopic.liga.glif</string>
    <key>rwa_ggee-ethiopic.liga</key>
    <string>rwa_ggee-ethiopic.liga.glif</string>
    <key>rwa_ggi-ethiopic.liga</key>
    <string>rwa_ggi-ethiopic.liga.glif</string>
    <key>rwa_ggo-ethiopic.liga</key>
    <string>rwa_ggo-ethiopic.liga.glif</string>
    <key>rwa_ggu-ethiopic.liga</key>
    <string>rwa_ggu-ethiopic.liga.glif</string>
    <key>rwa_ggwaa-ethiopic.liga</key>
    <string>rwa_ggwaa-ethiopic.liga.glif</string>
    <key>rwa_gi-ethiopic.liga</key>
    <string>rwa_gi-ethiopic.liga.glif</string>
    <key>rwa_go-ethiopic.liga</key>
    <string>rwa_go-ethiopic.liga.glif</string>
    <key>rwa_gu-ethiopic.liga</key>
    <string>rwa_gu-ethiopic.liga.glif</string>
    <key>rwa_gwaa-ethiopic.liga</key>
    <string>rwa_gwaa-ethiopic.liga.glif</string>
    <key>rwa_na-ethiopic.liga</key>
    <string>rwa_na-ethiopic.liga.glif</string>
    <key>rwa_ne-ethiopic.liga</key>
    <string>rwa_ne-ethiopic.liga.glif</string>
    <key>rwa_nee-ethiopic.liga</key>
    <string>rwa_nee-ethiopic.liga.glif</string>
    <key>rwa_ni-ethiopic.liga</key>
    <string>rwa_ni-ethiopic.liga.glif</string>
    <key>rwa_nu-ethiopic.liga</key>
    <string>rwa_nu-ethiopic.liga.glif</string>
    <key>rwa_nya-ethiopic.liga</key>
    <string>rwa_nya-ethiopic.liga.glif</string>
    <key>rwa_nyee-ethiopic.liga</key>
    <string>rwa_nyee-ethiopic.liga.glif</string>
    <key>rwa_nyi-ethiopic.liga</key>
    <string>rwa_nyi-ethiopic.liga.glif</string>
    <key>rwa_nyu-ethiopic.liga</key>
    <string>rwa_nyu-ethiopic.liga.glif</string>
    <key>rwa_xa-ethiopic.liga</key>
    <string>rwa_xa-ethiopic.liga.glif</string>
    <key>rwa_xe-ethiopic.liga</key>
    <string>rwa_xe-ethiopic.liga.glif</string>
    <key>rwa_xee-ethiopic.liga</key>
    <string>rwa_xee-ethiopic.liga.glif</string>
    <key>rwa_xi-ethiopic.liga</key>
    <string>rwa_xi-ethiopic.liga.glif</string>
    <key>rwa_xu-ethiopic.liga</key>
    <string>rwa_xu-ethiopic.liga.glif</string>
    <key>rwa_xwaa-ethiopic.liga</key>
    <string>rwa_xwaa-ethiopic.liga.glif</string>
  </dict>
</plist>
