<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Nov 29, 20, 22:43</string>
      <string>glyphs.N_ov 29, 20, 22_43</string>
    </array>
    <array>
      <string>Light</string>
      <string>glyphs.L_ight</string>
    </array>
  </array>
</plist>
